[Unit]
Description=Eorzea's Only Hope

[Service]
ExecStart=/usr/bin/python3 -m bot
User=eorzea
Group=daemon
WorkingDirectory=/srv/eorzea
Environment=PYTHONPATH=/srv/eorzea/src

[Install]
WantedBy=multi-user.target
