# SPDX-FileCopyrightText: 2020 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
#
# SPDX-License-Identifier: CC0-1.0

[Unit]
Description=Eorzea's Only Hope

[Service]
ExecStart=/usr/bin/python3 -m bot
User=eorzea
Group=daemon
WorkingDirectory=/srv/eorzea
Environment=PYTHONPATH=/srv/eorzea/src

[Install]
WantedBy=multi-user.target
